:root {
  --primary-background-color: #f9f7fe;
  --primary-paragraph-color: #272142;
  --primary-button-color: #6c63ff;
  --secondary-button-color: #885df1;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: var(--default-font-family);
}

.navbar {
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.hero {
  background-color: var(--primary-background-color);
  text-align: center;
  padding: 270px 20px;
}

.hero p {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-paragraph-color);
}

.hero h1 {
  font-size: 96px;
  font-weight: bold;
}

.hero h2 {
  font-size: 24px;
  color: var(--primary-paragraph-color);
  font-family: var(--default-font-family);
  font-weight: normal;
}

.hero a {
  border-radius: 4px;
  background-color: var(--primary-button-color);
  padding: 18px 46px;
  font-size: 18px;
}

.project-description h2 {
  font-size: 64px;
  font-weight: bold;
}

.project-description p {
  font-size: 16px;
  opacity: 0.7;
  color: var(--primary-paragraph-color);
}

.project-description a {
  border-color: var(--secondary-button-color);
  padding: 18px 25px;
  color: var(--secondary-button-color);
  margin-bottom: 20px;
}

.project-description a:hover {
  border-color: var(--secondary-button-color);
  background-color: var(--secondary-button-color);
}

.work-inquiry {
  background-color: var(--primary-background-color);
  border-radius: 20px;
  border-bottom: 2px #fff solid;
  margin-bottom: 20px;
}

.work-inquiry p {
  font-size: 16px;
  opacity: 0.7;
  color: var(--primary-paragraph-color);
}

.work-inquiry a {
  border-radius: 4px;
  background-color: var(--primary-button-color);
  padding: 18px 46px;
  font-size: 18px;
}

footer {
  margin: 80px 0 100px;
}

footer a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.fa-brands {
  font-size: 18px;
  background-color: var(--primary-background-color);
  color: var(--primary-button-color);
  border-radius: 50%;
  padding: 16px;
  margin: 4px 12px;
}

@media (max-width: 992px) {
  .hero {
    padding: 135px 20px;
  }

  .hero p {
    font-size: 24px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero h2 {
    font-size: 16px;
    line-height: 2;
  }

  .hero a {
    padding: 10px 24px;
  }

  .project-description {
    text-align: center;
    margin: 48px;
    border-radius: 4px;
    background-color: var(--primary-background-color);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .project-description h2 {
    font-size: 40px;
  }

  .project-description p {
    line-height: 2;
  }

  .project-description a {
    padding: 10px 24px;
  }

  .work-inquiry p {
    font-size: 12px;
  }

  .work-inquiry a {
    font-size: 16px;
    padding: 12px 24px;
  }
}
