:root {
  --primary-background-color: #F9F7FE;
  --primary-paragraph-color: #272142;
  --primary-button-color: #6C63FF;
  --heading-font-family: 'Playfair Display', serif;
  --default-font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.hero {
  background-color: var(--primary-background-color);
  text-align: center;
  padding: 270px 20px;
}

.hero p {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-paragraph-color);
}

.hero h1 {
  font-size: 96px;
  font-weight: bold;
}

.hero h2 {
  font-size: 24px;
  color: var(--primary-paragraph-color);
  font-family: var(--default-font-family);
}

.hero a {
  border-radius: 4px;
  background-color: var(--primary-button-color);
  padding: 18px 46px;
}